@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    /* margin-top: 4%; */
}

.heading{
    font-weight: 300;
}

a {
	/* float: left; */
  /* text-align: right; */
	background: rgb(116, 116, 116);
  border: 1px solid #555;
	padding: 10px 12px 10px 10px;
	color: #fff;
	border-radius: 20px;
	/* margin-right: 10px; */
	/* border: none; */
	text-decoration: none;  
  margin: 10px 0px 0px 40px;
  position: absolute;
  left: 0%;
  
}
a:hover{
  opacity: .7;
}

/* p{
  font-weight: 300;
} */
hr#divider{
  width: 90%;
}

h1#order{
  font-size: 48px;
}
h1#welcome{
  font-size: 52px;
  margin-top: 20vh;
}

h2#null
{
  margin-top: 40px;
  font-weight: 300;
}

div#buttons{
  padding: 4%;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.149);
  margin-top: 40px;
  display: block;
}

div.copyright
{
  margin-top: 25vh;
  /* height: 100vh; */
  /* margin-top: 30px; */
}

input {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 33px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 20px;
  position: relative;
  margin: 0% 1% 0% 1%;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

input:hover {
  background: #F6F9FE;
  color: #174ea6;
}

input:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

input:focus {
  outline: none;
  border: 2px solid #4285f4;
}

input:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

input:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

input:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

input:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

input:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

input#resultNo
{
  /* text-transform: uppercase; */
  margin-bottom: 5px;
  font-weight: 400;
}

input.custom
{
  border-radius: 15px;
  box-shadow: none;
  background: #F6F9FE;
  border: 1px solid #969696;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 33px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 64px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 40px;
  position: relative;
  margin: 0% 2.5% 0% 2.5%;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}