@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* text-align: center; */
	/* background: rgb(209,228,234); */
  background: #bae4f4;
  padding: 0%;
  margin: 0%;
}

table
{
  /* margin: 30px; */
  width:100%;
  border-collapse:collapse;
  text-align:center;
  /* padding: 0% 30px; */
  /* border:1px solid #00F; */
  /* line-height: 40px; */
  /* font-size:12px; */

  background: rgba(255, 255, 255, 0.363);
	box-shadow: 0 8px 32px 0 rgba(130, 130, 130, 0.37);
	/* backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px ); */
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 15px;
	transition: all 0.2s ease;
}

th, td
{
  padding: 0px 20px 25px 20px;
}
th
{
  font-weight: 500;
}

.row {
  width: 100%;
  margin: 20px 0;
  /* background-color: #5f6366; */
  text-align: center;

}
.block {
  /* width: 30%; */
  /* background-color: #174ea6; */
  display: inline-block;
  vertical-align: top;
  margin: 0% 30px;
}

.t1{
  width: 55%;
}
.t2{
  width: 35%;
}

/* form divs */
.formRow{
  width: 100%;
  /* background-color: black; */
  /* text-align: center; */
  margin: 50px 0px;
}

.col{
  display: inline-block;
  vertical-align: top;
  /* padding: 30px; */
}

.f1{
  width: 20%;
  /* background-color: orange; */
  padding: 10px 10px 10px 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.149);
}
.f2{
  width: 20%;
  /* background-color: blue; */
  padding: 10px 30px 10px 50px;
  /* border-left: 5px solid rgba(0, 0, 0, 0.149); */
}
.f3{
  width: 45%;
  /* background-color: pink; */
  padding: 10px 0px 10px 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.149);
}

h2
{
  font-weight: 500;
}
h2.elementHeading
{
  text-decoration: underline solid rgba(130, 130, 130, 0.37) 2px;
}

div#header
{
  /* display: flex;
  justify-content: space-between; */
  position: relative;
}

h2.welcome
{
  color: #555;
  /* text-align: left; */
  margin: 15px 0px 20px 20px;
  position: absolute;
  left: 0%;
}

h3.comission
{
  font-weight: 400;
  color: #555;
  margin: 15px 0px 20px 20px;
  position: absolute;
  left: 0%;
  /* text-align: center; */
}

a {
	/* float: right; */
  /* text-align: right; */
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 20px;
	/* margin-right: 10px; */
	border: none;
	text-decoration: none;  
  margin: 0 5px;
  
}
a:hover{
  opacity: .7;
}

div.buttons{
  position: absolute;
  right: 0;
  margin: 20px 5px 0 0;
}

h2.welcome, div.buttons
{
  display: inline-block;
}

div#form
{
  /* margin: 50px 0 10px 50px; */
  /* margin: 50px; */
  padding: 30px 60px;
  width: 20%;
}

hr#form
{
  width: 80%;
  /* align-items: flex-start; */
  margin-left: 0%;
  border-top: .5px solid rgba(0, 0, 0, 0.149);
}
hr#divider
{
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.149);
  margin: 70px auto 50px auto;
}
hr#rowDiv
{
  width: 80%;
  /* align-items: flex-start; */
  margin-left: 0%;
  border-top: 2px solid rgba(0, 0, 0, 0.149);
  margin: 50px 0;
}

h2#null
{
  padding: 0px 0px 0px 30%;
  font-size: 20px;
  /* margin-top: 40px; */
}
hr#line {
  width: 80%;
  /* align-items: flex-start; */
  margin-left: 0%;
  border-top: 1px solid rgba(0, 0, 0, 0.149);
  margin: 20px 0;
}

input#out{
  margin: 10px 0px 10px 15%;
  border-radius: 10px;
  border: 0px;
  background: #F6F9FE;
  /* color: #174ea6; */
  font-size: 18px;
  height: 38px;
}

label{
  font-weight: 400;
}

input {
  align-items: center;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.347);
  border-radius: 20px;
  border-style: none;
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-sizing: border-box;
  border: 1px solid #5f6366;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  height: 30px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 20px;
  position: relative;
  margin: 10px 0 0 0;
  /* text-align: center; */
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

input:hover {
  background: #F6F9FE;
  color: #174ea6;
}

input:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

input:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button {
  align-items: center;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.57);
  border-radius: 33px;
  border-style: none;
  border: 1px solid #5f6366;
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 20px;
  position: relative;
  margin: 10px 9px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button:active {
  /* box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%); */
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button.del {
  height: 32px;
  margin-left: 10px;
}
.reg{
  margin: 10px 60px;
}